<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <header id="header">
            <?php include('header.tpl'); ?>
        </header>    
        
        <div id="wrapper">
            <aside>
                <?php include('sidebar.tpl'); ?>
            </aside>
            <main>
                <section>
                    <header><h1>Content 1 Header</h1></header>
                    <p>content 1</p>
                </section>  
                <section>
                    <header><h1>Content 2 Header</h1></header>
                    <p>content 2</p>
                </section>  
            </main>
        </div>
        
        <footer id="footer">
            <?php include('footer.tpl'); ?>
        </footer>
    </body>
</html>
